<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
<a target= _blank href="http://127.0.0.1:8000/fv">年金計算功能</a><br>
<a target= _blank href="http://127.0.0.1:8000/daily_if">每日股價資訊</a><br>
<a target= _blank href="http://127.0.0.1:8000/company">公司資料</a><br>
<a target= _blank href="http://127.0.0.1:8000/three_legal">三大法人</a><br>
<a target= _blank href="http://127.0.0.1:8000/three_legal_overbuysell/">個股三大法人買賣超日報  </a><br>
<a target= _blank href="http://127.0.0.1:8000/shareCapital_ratio/">投信與外資投本比資料  </a><br>
</body>

</html>