<!DOCTYPE html>
<html lang="zh-Hang-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="http://code.jquery.com/jquery-3.1.1.js"></script>
  {% load static %}
  <script src="{% static "webapp/jquery-2.2.3.min.js" %}"></script>
    
  <title>任我行</title>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light mb-2" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="#">任我行</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/internationIndex">重要指數 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">介紹</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              籌碼買賣超
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/foreign_buy_shareCapital_ratio">外資買超比</a>
              <a class="dropdown-item" href="/foreign_sell_shareCapital_ratio">外資賣超比</a>
              <a class="dropdown-item" href="/trust_buy_shareCapital_ratio">投信買超比</a>
              <a class="dropdown-item" href="/trust_sell_shareCapital_ratio">投信賣超比</a>
              <a class="dropdown-item" href="/dealer_buy_shareCapital_ratio">自營商買超比</a>
              <a class="dropdown-item" href="/dealer_sell_shareCapital_ratio">自營商賣超比</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              籌碼累計買賣超
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/foreign_buyAcc_shareCapital_ratio">外資累計買超比</a>
              <a class="dropdown-item" href="/trust_buyAcc_shareCapital_ratio">投信累計買超比</a>
              <a class="dropdown-item" href="/dealer_buyAcc_shareCapital_ratio">自營商累計買超比</a>
              <a class="dropdown-item" href="/foreign_sellAcc_shareCapital_ratio">外資累計賣超比</a>
              <a class="dropdown-item" href="/trust_sellAcc_shareCapital_ratio">投信累計賣超比</a>
              <a class="dropdown-item" href="/dealer_sellAcc_shareCapital_ratio">自營商累計賣超比</a>
          </li>
          <li class=" nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              權證篩選
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/warrant/call_warrant_shareCapital_ratio/">認購權證篩選</a>
              <a class="dropdown-item" href="/warrant/put_warrant_shareCapital_ratio">認售權證篩選</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/chip_analysis">現貨籌碼表</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/futures_chips">期貨籌碼表</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 ">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Search</button>
        </form>
      </div>
    </nav><br>
    <h3 class="text-center">任我行重要指數</h3><br>
    <div class="container">
  <div class="row">
    <div class="col-sm">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" colspan="4" class="bg-info text-center align-middle">亞太區追蹤</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class = "text-center align-middle">名稱</th>
            <th scope="row" class = "text-center align-middle">價格</th>
            <th scope="row" class = "text-center align-middle">漲跌</th>
            <th scope="row" class = "text-center align-middle">比例</th>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">日本日經</th>
            <td class = "text-center align-middle">{{AsiaIndex.0.1}}</td>
            <td class = "text-center align-middle">{{AsiaIndex.0.2}}</td>
            <td class = "text-center align-middle">{{AsiaIndex.0.3}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">香港恆生</th>
            <td class = "text-center align-middle">{{AsiaIndex.1.1}}</td>
            <td class = "text-center align-middle">{{AsiaIndex.1.2}}</td>
            <td class = "text-center align-middle">{{AsiaIndex.1.3}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">南韓綜合</th>
            <td class = "text-center align-middle">{{AsiaIndex.2.1}}</td>
            <td class = "text-center align-middle">{{AsiaIndex.2.2}}</td>
            <td class = "text-center align-middle">{{AsiaIndex.2.3}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">上海綜合</th>
            <td class = "text-center align-middle">{{AsiaIndex.3.1}}</td>
            <td class = "text-center align-middle">{{AsiaIndex.3.2}}</td>
            <td class = "text-center align-middle">{{AsiaIndex.3.3}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">A50期貨</th>
            <td class = "text-center align-middle">{{AsiaIndex.4.1}}</td>
            <td class = "text-center align-middle">{{AsiaIndex.4.2}}</td>
            <td class = "text-center align-middle">{{AsiaIndex.4.3}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">印度指數</th>
            <td class = "text-center align-middle">{{AsiaIndex.5.1}}</td>
            <td class = "text-center align-middle">{{AsiaIndex.5.2}}</td>
            <td class = "text-center align-middle">{{AsiaIndex.5.3}}</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col-sm">
       <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" colspan="4" class="bg-info text-center align-middle">重要產業追蹤</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class = "text-center align-middle">名稱</th>
            <th scope="row" class = "text-center align-middle">價格</th>
            <th scope="row" class = "text-center align-middle">漲跌</th>
            <th scope="row" class = "text-center align-middle">比例</th>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">台積電ADR</th>
            <td class = "text-center align-middle">{{ImportantIndustrayIndex.0.1}}</td>
            <td class = "text-center align-middle">{{ImportantIndustrayIndex.0.2}}</td>
            <td class = "text-center align-middle">{{ImportantIndustrayIndex.0.3}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">GOOGLE</th>
            <td class = "text-center align-middle">{{ImportantIndustrayIndex.1.1}}</td>
            <td class = "text-center align-middle">{{ImportantIndustrayIndex.1.2}}</td>
            <td class = "text-center align-middle">{{ImportantIndustrayIndex.1.3}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">蘋果</th>
            <td class = "text-center align-middle">{{ImportantIndustrayIndex.2.1}}</td>
            <td class = "text-center align-middle">{{ImportantIndustrayIndex.2.2}}</td>
            <td class = "text-center align-middle">{{ImportantIndustrayIndex.2.3}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">Facebook</th>
            <td class = "text-center align-middle">{{ImportantIndustrayIndex.3.1}}</td>
            <td class = "text-center align-middle">{{ImportantIndustrayIndex.3.2}}</td>
            <td class = "text-center align-middle">{{ImportantIndustrayIndex.3.3}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">微軟</th>
            <td class = "text-center align-middle">{{ImportantIndustrayIndex.4.1}}</td>
            <td class = "text-center align-middle">{{ImportantIndustrayIndex.4.2}}</td>
            <td class = "text-center align-middle">{{ImportantIndustrayIndex.4.3}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">阿里巴巴</th>
            <td class = "text-center align-middle">{{ImportantIndustrayIndex.5.1}}</td>
            <td class = "text-center align-middle">{{ImportantIndustrayIndex.5.2}}</td>
            <td class = "text-center align-middle">{{ImportantIndustrayIndex.5.3}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">NBI生技</th>
            <td class = "text-center align-middle">{{ImportantIndustrayIndex.6.1}}</td>
            <td class = "text-center align-middle">{{ImportantIndustrayIndex.6.2}}</td>
            <td class = "text-center align-middle">{{ImportantIndustrayIndex.6.3}}</td>
          </tr>
        </tbody>
      </table>


    </div>
    <div class="col-sm">
             <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" colspan="4" class="bg-info text-center align-middle">歐美區追蹤</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class = "text-center align-middle">名稱</th>
            <th scope="row" class = "text-center align-middle">價格</th>
            <th scope="row" class = "text-center align-middle">漲跌</th>
            <th scope="row" class = "text-center align-middle">比例</th>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">道瓊指數</th>
            <td class = "text-center align-middle">{{EuropeAmericaIndex.0.1}}</td>
            <td class = "text-center align-middle">{{EuropeAmericaIndex.0.2}}</td>
            <td class = "text-center align-middle">{{EuropeAmericaIndex.0.3}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">費城半導體</th>
            <td class = "text-center align-middle">{{EuropeAmericaIndex.1.1}}</td>
            <td class = "text-center align-middle">{{EuropeAmericaIndex.1.2}}</td>
            <td class = "text-center align-middle">{{EuropeAmericaIndex.1.3}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">NASDAQ</th>
            <td class = "text-center align-middle">{{EuropeAmericaIndex.2.1}}</td>
            <td class = "text-center align-middle">{{EuropeAmericaIndex.2.2}}</td>
            <td class = "text-center align-middle">{{EuropeAmericaIndex.2.3}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">S&P500</th>
            <td class = "text-center align-middle">{{EuropeAmericaIndex.3.1}}</td>
            <td class = "text-center align-middle">{{EuropeAmericaIndex.3.2}}</td>
            <td class = "text-center align-middle">{{EuropeAmericaIndex.3.3}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">英國指數</th>
            <td class = "text-center align-middle">{{EuropeAmericaIndex.4.1}}</td>
            <td class = "text-center align-middle">{{EuropeAmericaIndex.4.2}}</td>
            <td class = "text-center align-middle">{{EuropeAmericaIndex.4.3}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">德國指數</th>
            <td class = "text-center align-middle">{{EuropeAmericaIndex.5.1}}</td>
            <td class = "text-center align-middle">{{EuropeAmericaIndex.5.2}}</td>
            <td class = "text-center align-middle">{{EuropeAmericaIndex.5.3}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">俄羅斯指數</th>
            <td class = "text-center align-middle">{{ImportantIndustrayIndex.6.1}}</td>
            <td class = "text-center align-middle">{{ImportantIndustrayIndex.6.2}}</td>
            <td class = "text-center align-middle">{{ImportantIndustrayIndex.6.3}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>




<div class="container">
  <div class="row">
    <div class="col-sm">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" colspan="4" class="bg-info text-center align-middle">重要指標追蹤</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class = "text-center align-middle">名稱</th>
            <th scope="row" class = "text-center align-middle">價格</th>
            <th scope="row" class = "text-center align-middle">漲跌</th>
            <th scope="row" class = "text-center align-middle">比例</th>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">美元指數</th>
            <td class = "text-center align-middle">{{ImportantIndicatorsIndex.0.1}}</td>
            <td class = "text-center align-middle">{{ImportantIndicatorsIndex.0.2}}</td>
            <td class = "text-center align-middle">{{ImportantIndicatorsIndex.0.3}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">比特幣</th>
            <td class = "text-center align-middle">{{ImportantIndicatorsIndex.1.1}}</td>
            <td class = "text-center align-middle">{{ImportantIndicatorsIndex.1.2}}</td>
            <td class = "text-center align-middle">{{ImportantIndicatorsIndex.1.3}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">乙太幣</th>
            <td class = "text-center align-middle">{{ImportantIndicatorsIndex.2.1}}</td>
            <td class = "text-center align-middle">{{ImportantIndicatorsIndex.2.2}}</td>
            <td class = "text-center align-middle">{{ImportantIndicatorsIndex.2.3}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">乾散裝型</th>
            <td class = "text-center align-middle">{{ImportantIndicatorsIndex.3.1}}</td>
            <td class = "text-center align-middle">{{ImportantIndicatorsIndex.3.2}}</td>
            <td class = "text-center align-middle">{{ImportantIndicatorsIndex.3.3}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">輕原油</th>
            <td class = "text-center align-middle">{{ImportantIndicatorsIndex.4.1}}</td>
            <td class = "text-center align-middle">{{ImportantIndicatorsIndex.4.2}}</td>
            <td class = "text-center align-middle">{{ImportantIndicatorsIndex.4.3}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">VIX</th>
            <td class = "text-center align-middle">{{ImportantIndicatorsIndex.5.1}}</td>
            <td class = "text-center align-middle">{{ImportantIndicatorsIndex.5.2}}</td>
            <td class = "text-center align-middle">{{ImportantIndicatorsIndex.5.3}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">黃金期</th>
            <td class = "text-center align-middle">{{ImportantIndicatorsIndex.6.1}}</td>
            <td class = "text-center align-middle">{{ImportantIndicatorsIndex.6.2}}</td>
            <td class = "text-center align-middle">{{ImportantIndicatorsIndex.6.3}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">黃金NT</th>
            <td class = "text-center align-middle">{{ImportantIndicatorsIndex.7.1}}</td>
            <td class = "text-center align-middle">{{ImportantIndicatorsIndex.7.2}}</td>
            <td class = "text-center align-middle">{{ImportantIndicatorsIndex.7.3}}</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col-sm">
       <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" colspan="3" class="bg-info text-center align-middle">匯率追蹤</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class = "text-center align-middle">幣別</th>
            <th scope="row" class = "text-center align-middle">即買</th>
            <th scope="row" class = "text-center align-middle">即賣</th>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">人民幣</th>
            <td class = "text-center align-middle">{{ExchangeRateIndex.3.3}}</td>
            <td class = "text-center align-middle">{{ExchangeRateIndex.3.4}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">日幣</th>
            <td class = "text-center align-middle">{{ExchangeRateIndex.4.3}}</td>
            <td class = "text-center align-middle">{{ExchangeRateIndex.4.4}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">美金</th>
            <td class = "text-center align-middle">{{ExchangeRateIndex.5.3}}</td>
            <td class = "text-center align-middle">{{ExchangeRateIndex.5.4}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">歐元</th>
            <td class = "text-center align-middle">{{ExchangeRateIndex.6.3}}</td>
            <td class = "text-center align-middle">{{ExchangeRateIndex.6.4}}</td>
          </tr>
        </tbody>
      </table>


    </div>
    <div class="col-sm">

             <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" colspan="4" class="bg-info text-center align-middle">國際期貨匯率追蹤</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class = "text-center align-middle">名稱</th>
            <th scope="row" class = "text-center align-middle">價格</th>
            <th scope="row" class = "text-center align-middle">漲跌</th>
            <th scope="row" class = "text-center align-middle">比例</th>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">歐元兌美元</th>
            <td class = "text-center align-middle">{{ExchangeRateIndex.0.1}}</td>
            <td class = "text-center align-middle">{{ExchangeRateIndex.0.2}}</td>
            <td class = "text-center align-middle">{{ExchangeRateIndex.0.3}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">美元兌日圓</th>
            <td class = "text-center align-middle">{{ExchangeRateIndex.1.1}}</td>
            <td class = "text-center align-middle">{{ExchangeRateIndex.1.2}}</td>
            <td class = "text-center align-middle">{{ExchangeRateIndex.1.3}}</td>
          </tr>
          <tr>
            <th scope="row" class = "text-center align-middle">美元兌人民幣</th>
            <td class = "text-center align-middle">{{ExchangeRateIndex.2.1}}</td>
            <td class = "text-center align-middle">{{ExchangeRateIndex.2.2}}</td>
            <td class = "text-center align-middle">{{ExchangeRateIndex.2.3}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!--<script src="{% static "webapp/bcd.js" %}"></script>-->
</body>

</html>